.main-container {
    -fx-padding: 20;
    -fx-background-color: #2c3e50;
}

.header-bar {
    -fx-spacing: 10;
}

.action-button {
	-fx-font-size: 18px;
	-fx-min-width: 100px;
}

.menu-body {
    -fx-alignment: center;
    -fx-spacing: 30;
}

.menu-button {
    -fx-font-size: 18px;
    -fx-min-width: 200px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.menu-button:hover {
    -fx-background-color: #2980b9;
}